# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
.env

# Django
db.sqlite3
staticfiles/

# OS
.DS_Store

# VS Code
.vscode/

#logs
*.log

test_output.txt
.prettierrc
main/helpers/test.py
main/helpers/test.ipynb

static/assets/Product_Images/
static/assets/Product_Images_old/
static/assets/Product_Images_Optimized/

# Local database dumps
*.dump

# Local environment backups
.env.*-backup

# Local test/output files
test_output.txt

# Local helper/test scripts
main/helpers/Flipkart_test.py
main/helpers/test_cloudinary.py
static/js/test.js

# Local archives
*.zip