<!-- prettier-ignore -->
{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block title %} ArtHQ Products {% endblock %}
<!-- prettier-ignore -->
{% block styles %}
<link rel="stylesheet" href="/static/css/checkout.css" />
<!-- prettier-ignore -->
{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<section id="title_section">
  <title>Checkout</title>
</section>
<section id="main_content" class="mx-3 my-2">
  <div id="checkout_container">
    <!-- ADDRESS -->
    <div class="section">
      <h3>Delivery Address and Contact Information</h3>

      <input type="text" id="name" placeholder="Full Name" />
      <input type="text" id="email" placeholder="Email" />
      <input type="text" id="address" placeholder="Address" />
      <input type="text" id="city" placeholder="City" />
      <input type="text" id="pincode" placeholder="Pincode" />
      <input type="text" id="phone" placeholder="Phone Number" />
    </div>

    <!-- ORDER SUMMARY -->
    <div class="section">
      <h3>Order Summary</h3>
      <div id="checkout_items"></div>
    </div>

    <!-- TOTAL -->
    <div id="checkout_pricing">
      <div class="price_row">
        <span>Items Total</span>
        <span id="items_total_price">₹0</span>
      </div>

      <div class="price_row">
        <span>Delivery Charges</span>
        <span id="delivery_charge">₹99</span>
      </div>

      <div class="price_row total_row">
        <span>Grand Total</span>
        <span id="total_price">₹0</span>
      </div>
    </div>

    <div id="free_delivery_message"></div>

    <!-- CTA -->
    <button id="place_order_btn">PLACE ORDER</button>
  </div>
</section>
<!-- prettier-ignore -->
{% endblock %}
<section id="scripts">
  <!-- prettier-ignore -->
  {% block scripts %}
  <script src="/static/js/checkout.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <!-- prettier-ignore -->
  {% endblock %}
</section>
