html {
  width: 100vw;
  scrollbar-width: none;
  overflow-x: hidden;
  @media screen and (min-width: 450px) {
    scrollbar-width: thin;
    padding-right: 10px;
  }
}

body {
  display: flex;
  flex-direction: column;
}

#navbar_section {
  flex-shrink: 0;
  flex-grow: 0;
}

#navbar {
  padding: 0;
}

#navbar_div {
  justify-content: center;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
}

#navbar_div.expanded {
  justify-content: start;
}

.crop {
  overflow: hidden;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  padding-bottom: 10px;
}

.crop img {
  width: 80px;
  margin: -17px 0px -23px 0px;
}

#search_div {
  position: absolute;
  right: 3.5rem;
  display: inline-flex;
  padding: 0px;
  border: none;
}

#search_textbox {
  padding: 5px 0px;
  width: 0px;
  height: 25px;
  box-sizing: content-box;
  border: none;
}

#search_textbox:focus-visible {
  outline: none;
}

#search_button {
  width: 25px;
  height: 25px;
  padding: 3px 0px 7px 0px;
  border: none;
  box-sizing: content-box;
}

.expanded #search_div {
  border: solid #b3b3b3 1px !important;
  border-radius: 10px;
  padding: 0px 10px !important;
}

.expanded input {
  width: 150px !important ;
}

.expanded #search_button {
  width: 0px;
  overflow: hidden;
}

#search_button:hover {
  background-color: rgba(0, 0, 0, 0);
}

#viewcart_div {
  position: absolute;
  right: 1.5rem;
  display: inline-flex;
  padding: 0px;
  border: none;
}

#viewcart_button {
  width: 25px;
  height: 25px;
  padding: 3px 0px 7px 0px;
  border: none;
  box-sizing: content-box;
}

.button {
  background-color: white;
  color: black;
}

.no_border {
  border: 0px !important;
}

.no_margin {
  margin: 0px !important;
}

.no_padding {
  padding: 0px !important;
}

.button_disabled {
  background-color: rgb(194, 194, 194);
  color: black;
  font-weight: 200;
  border: 0;
}

.hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin: 0px;
}

.button_primary {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.button_OKCancel {
  border: 0px !important;
  width: 50%;
}

.button_secondary {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.row > * {
  padding: 0px !important;
}

.fixed_top {
  position: fixed;
  top: 0;
  width: 100%;
}
