#product_id {
  font-size: 0;
  height: 0;
}

#product_title {
  font-size: 6vw;
  font-weight: 200;
  color: #333333;
}

#product_grid {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 20px;
  overflow: hidden;
}

#product_images {
  grid-row: 1;
  height: 100%;
  width: max-content;
  display: flex;
  scrollbar-width: none;
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  max-height: 100vh;

    max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  touch-action: none;
}

#product_details {
  height: min-content;
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(5,auto);
}

#product_details_nav {
  grid-row: 1;
}

#product_details_nav p {
  display: inline;
}

#product_details_desc {
  grid-row: 2;
}

#product_details_price {
  grid-row: 3;
}

#product_details_addToCart {
  grid-row: 4;
}
f #product_details_buyNow {
  grid-row: 5;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease-in-out;
  border-radius: 4px;
  user-select: none;  
}

.slide div {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease-in-out;
  border-radius: 4px;
  user-select: none;  
}

.grabbing {
  cursor: grabbing !important;
}

.grabbing .slide img {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px 0px var(--shadow);
}

@media screen and (min-width: 450px) {
  #title_section {
    flex-grow: 0;
    flex-shrink: 0;
  }

  #scripts {
    flex-grow: 0;
    flex-shrink: 0;
  }

  #main_content {
    flex-grow: 1;
    flex-shrink: 1;
  }

  #product_title {
    font-size: 30px;
  }

  #product_grid {
    grid-template-columns: 9fr 30px 9fr;
    grid-row: auto;
  }

  #product_images {
    grid-column: 1;
  }

  #product_details {
    grid-column: 3;
    grid-row: 1;

  }
}


@media (min-width: 1200px) {
  .slide {
    padding: 3rem;
  }
}




#ref-grid{
  width: 430px;
  height: 150px;
  display: grid;
  grid-template-columns: 300px 130px;
  grid-template-rows: auto;
  gap:0px
}

.ref-item{
  border: solid 50px black;
  width: 100%;
  height: 150px;
}