#product_grid img {
  object-fit: cover;
}

.click_disabled {
  cursor: default;
}

#product_grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  row-gap: 20px;
  column-gap: 20px;
}

.Product {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

#title {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 !important;
  font-weight: 300;
  font-family: lato;
  font-size: 30px;
}

#nav_div {
  background: black;
  gap: 1px;
  border: 1px solid black;
  height: 35px;
}

#nav_div > div {
  background: white;
  font-family: lato;
  font-weight: 300;
  border-radius: 0px;
}

#filter_div {
  flex: 1 1 60px;
}

#filter_popup_button {
  font-size: 18px;
}

#sort_div {
  flex: 1 1 55px;
}

#sort_popup_button {
  font-size: 18px;
}

#sort_button_div {
  margin-top: 10px;
  padding-top: 6px;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
}

#image_size_switch {
  flex: 1 1 80px;
}

#image_size-small {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 0px;
  @media screen and (min-width: 450px) {
    flex: 1 1 20px;
  }
}

#image_size-medium,
#image_size-large {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 20px;
}

#filter_popup,
#sort_popup {
  top: 58px;
}

#filter_button_div > button {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

#filter_button_div {
  margin-top: 10px;
  padding-top: 6px;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
}

.Product_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  max-width: 100%;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.price {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #4d4d4d;
  width: 100%;
}

#category_buttons {
  gap: 30px;
}
