#track_order_container {
  padding: 20px;
  max-width: 100%;
  margin: auto;
}

#track_order_container h2 {
  text-align: center;
  margin-bottom: 20px;
}

#track_order_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#track_order_form input {
  padding: 12px;
  border: 0px;
  border-bottom: 1px solid #ddd;
  width: fit-content;
}

#track_order_btn {
  padding: 12px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#track_results {
  margin-top: 25px;
}

.table_container {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.track_table {
  width: 100%;
  min-width: 1200px;
  border-collapse: collapse;
  background: white;
}

.track_table th,
.track_table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
  vertical-align: top;
}

.track_table th {
  background: #f6f6f6;
  font-weight: 600;
  white-space: nowrap;
  position: sticky;
  top: 0;
}

.track_table td {
  white-space: nowrap;
}

.track_table td:nth-child(5),
.track_table td:nth-child(6) {
  white-space: normal;
  min-width: 300px;
}

.track_table tr:hover {
  background: #fafafa;
}
