{% extends 'base.html' %} {% block title %} ArtHQ Products {% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" href="..\static\css\test.css" />
<button onclick="runDatabaseTests()" width="200px" height="50px">Run Tests</button>
<p height="50px" id="output"></p>
<section id="scripts">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="../static/js/test.js" charset="utf-8"></script>
</section>
{% endblock %}
