<section id="navbar_section">
  <nav id="navbar" class="bg-light fixed_top">
    <div id="navbar_div" class="container-fluid">
      <div class="navbar-brand crop" id="logo_div">
        <img id="logo" src="../static/assets/common/logo_artHQ.png" />
      </div>
      <div id="search_div" role="search">
        <input id="search_textbox" type="search" />
        <button id="search_button" class="btn btn-outline-success" type="submit">
          <img src="/static/assets/icons/search.svg" alt="Search" width="24" height="24" />
        </button>
      </div>
      <div id="viewcart_div">
        <button id="viewcart_button" class="btn btn-outline-success" type="button">
          <img src="/static/assets/icons/cart.svg" alt="Cart" width="24" height="24" />
        </button>
      </div>
    </div>
  </nav>
  <div id="navbar_placeholder" style="height: 60px"></div>
</section>
