<!-- prettier-ignore -->
{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %} Contact Us | ArtHQ {% endblock %}

<!-- prettier-ignore -->
{% block styles %}
<link rel="stylesheet" href="../static/css/contact_us.css" />
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<section id="contact_us_section">
  <div class="contact_container">
    <h1 class="page_title">Contact Us</h1>
    <div class="contact_card">
      <p>
        We'd love to hear from you. Feel free to reach out for product inquiries, order assistance,
        gifting, collaborations, or any other questions.
      </p>
      <h2>Phone</h2>
      <a class="contact_link" href="tel:+918800156300">+91 88001 56300</a>
      <a class="contact_link" href="tel:+918800630700">+91 88006 30700</a>
      <h2>Email</h2>
      <a class="contact_link" href="mailto:hello@arthq.in">hello@arthq.in</a>
      <a class="contact_link" href="mailto:artheadquaters@gmail.com">artheadquaters@gmail.com</a>
      <h2>Business Hours</h2>
      <p>Monday - Saturday</p>
      <p>10:00 AM - 6:00 PM</p>
    </div>
  </div>
</section>
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block scripts %}
<script src="../static/js/contact_us.js"></script>
<!-- prettier-ignore -->
{% endblock %}
