<footer id="footer">
  <link rel="stylesheet" href="..\static\css\footer.css" />
  <div class="footer_container">
    <div class="footer_section">
      <h3 class="footer_heading">Get In Touch</h3>
      <a href="tel:+918800156300">
        <img class="svg" src="/static/assets/icons/call.svg" alt="Phone" />
        +91 88001 56300
      </a>
      <a href="mailto:hello@arthq.in">
        <img class="svg" src="/static/assets/icons/mail.svg" alt="Mail" />
        hello@arthq.in
      </a>
      <div class="social_icons">
        <a href="https://www.instagram.com/artismadeheretoo/" target="_blank">
          <img class="svg" src="/static/assets/icons/instagram.svg" alt="Instagram" />
        </a>
        <a href="https://www.instagram.com/artismadeheretoo/" target="_blank">
          <img class="svg" src="/static/assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/artismadeheretoo/" target="_blank">
          <img class="svg" src="/static/assets/icons/pinterest.svg" alt="Pinterest" />
        </a>
      </div>
    </div>
    <div class="footer_section_organizer">
      <div class="footer_section">
        <h3 class="footer_heading">Need Help</h3>
        <a id="footer_track_order" href="/track-order"> Track Order </a>
        <a href="/returns-exchange"> Returns & Exchange </a>
        <a href="/contact-us"> Contact Us </a>
      </div>

      <div class="footer_section">
        <h3 class="footer_heading">About Us</h3>
        <a href="/our-story"> Our Story </a>
        <a href="https://www.instagram.com/mrandmrskishaadi" target="_blank">Mr & Mrs</a>
        <a href="/privacy-policy"> Privacy Policy </a>
        <a href="/terms"> Terms & Conditions </a>
      </div>
    </div>
  </div>

  <div id="footer_shop_links"></div>

  <div class="footer_bottom">
    <div>© 2026 ArtHQ. All Rights Reserved.</div>

    <div>Made with ❤️ in India</div>
  </div>
</footer>
