<!-- prettier-ignore -->
{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %} Our Story | ArtHQ {% endblock %}

<!-- prettier-ignore -->
{% block styles %}
<link rel="stylesheet" href="../static/css/our_story.css" />
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<section id="our_story_section">
  <div class="our_story_container">
    <div class="page_title">Our Story</div>
    <div class="our_story_card">
      <p>
        ArtHQ was founded by a graphic designer as a tribute to the transformative power of art and
        the artists who make the world more beautiful, expressive, and inspiring. Our mission is
        simple: to bring creativity, beauty, and a touch of freshness into everyday life through
        thoughtfully designed products.
      </p>
    </div>
  </div>
</section>
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block scripts %}
<script src="../static/js/our_story.js"></script>
<!-- prettier-ignore -->
{% endblock %}
