<!-- prettier-ignore -->
{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block title %} ArtHQ Products {% endblock %}
<!-- prettier-ignore -->
{% block styles %}

<link rel="stylesheet" href="..\static\css\product_page.css" />
<link rel="stylesheet" href="..\static\css\cart.css" />
<!-- prettier-ignore -->
{%endblock %}

<!-- prettier-ignore -->
{% block content %}
<section id="title_section">
  <div class="container d-flex justify-content-center align-items-center">
    <div id="product_title" class="page_title">Test</div>
  </div>
</section>
<section id="main_content" class="mx-3 my-2">
  <div id="product_grid" class="layout_grid">
    <div id="images_carousel" class="carousel_slide" data-ride="carousel">
      <div id="product_images" class="grid_item slides_flexbox"></div>
      <div id="carousel_butttons"></div>
    </div>
    <div id="product_details">
      <div id="product_details_nav"></div>
      <h1 id="product_title_right"></h1>
      <div id="product_rating">★★★★☆ <span>(120 reviews)</span></div>
      <div id="product_details_price"></div>
      <div id="product_tax">Inclusive of all taxes</div>
      <div id="product_details_desc_wrapper">
        <div id="product_details_desc"></div>
        <button id="desc_toggle_btn">View More</button>
      </div>
      <div id="product_actions">
        <button id="add_to_cart_btn">ADD TO CART</button>
        <button id="buy_now_btn">BUY IT NOW</button>
      </div>
    </div>
  </div>
  <div id="product_id">{% url 'product_page' id %}</div>
</section>
<!-- prettier-ignore -->
{% include 'cart.html' %}
<!-- prettier-ignore -->
{% endblock %}
<section id="product_page_scripts">
  <!-- prettier-ignore -->
  {% block scripts %}
  <script src="../static/js/cart.js" charset="utf-8"></script>
  <script src="../static/js/product_page.js" charset="utf-8"></script>
  <!-- prettier-ignore -->
  {% endblock %}
</section>
